In [1]:
import pandas as pd
import numpy as np

In [2]:
heart_disease = pd.read_csv("../datasets/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Feature matrix
X = heart_disease.drop("target", axis=1)

# Labels
y = heart_disease["target"]

In [4]:
import warnings
warnings.filterwarnings("ignore")
# Ignores warning

In [6]:
# Choose the right Model
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=25)

# Keep the default parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 25,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# Fit the Model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
len(X_train), len(X)

(242, 303)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)
y_pred

In [ ]:
# Evaluating the model
clf.score(X_test, y_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_pred))

In [ ]:
confusion_matrix(y_test, y_pred)

In [ ]:
for i in range(10, 100, 10):
    print(f"{i} estimators")
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Score: {model.score(X_test, y_test) * 100:.2f}")
    print("")

In [ ]:
# Saving our model

import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [ ]:
# Loading our model (See that the score is the same as before)

loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

In [ ]:
import sklearn

sklearn.show_versions()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Getting data ready to be used

1. Split the data into features and labels X and y
2. Filling missing values
3. Converting non-numerical Values to numerical Values (Feature Encoding)

In [ ]:
heart_disease.head()

In [ ]:
X = heart_disease.drop("target", axis=1)
X.head()

In [ ]:
y = heart_disease["target"]
y.head()

In [ ]:
# Spliting Data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.shape

In [ ]:
X.shape

In [ ]:
car_sales = pd.read_csv("../datasets/car-sales-extended.csv")
car_sales

In [ ]:
car_sales.dtypes

In [ ]:
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

In [ ]:
car_sales.dtypes

# Data Preprocessing

In [ ]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([
    ("one-hot",
     one_hot,
     categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
pd.DataFrame(transformed_X)

In [ ]:
dummies = pd.get_dummies(car_sales[["Make", "Doors", "Colour"]])
dummies

In [ ]:
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

model.fit(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

## How to deal with missing values (Data)

1. Imputation (fill them with some value)
2. Remove the samples with missing values

In [ ]:
car_sales_missing = pd.read_csv("../datasets/car-sales-extended-missing-data.csv")
car_sales_missing.isna().sum()

In [ ]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

#### Fill missing data with pandas

In [ ]:
#Filling the "Male" Column
car_sales_missing["Make"].fillna("missing", inplace=True)

#Filling the "Colour" Column
car_sales_missing["Colour"].fillna("missing", inplace=True)

#Filling the "Odometer (KM)" Column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

#Filling the "Doors" Column
car_sales_missing["Doors"].fillna(4, inplace=True)

In [ ]:
car_sales_missing.isna().sum()

### Since the price is missing sometimes its better to remove rows with missing price value (since its the target Value)

In [ ]:
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [ ]:
# Converting Our data to numbers

# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([
    ("one-hot",
     one_hot,
     categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_missing)
pd.DataFrame(transformed_X)

### Option 2: Filling missing values with scikit-learn

In [ ]:
car_sales_missing = pd.read_csv("../datasets/car-sales-extended-missing-data.csv")

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Drop the NA entries that has NA in price col
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

In [ ]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]
len(X), len(y)

In [ ]:
X

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' and numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define Columns
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_feature = ["Odometer (KM)"]

# Create an Imputer
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_feature)
])

# Transforming the data
filled_X = imputer.fit_transform(X)
pd.DataFrame(filled_X)

In [ ]:
list(X.columns)

In [ ]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])

In [ ]:
car_sales_filled

In [ ]:
# Converting Our data to numbers

# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([
    ("one-hot",
     one_hot,
     categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

In [ ]:
# Now we've got out data as numbers and filled no missing values
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# transformed_X.shape[1]
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

# Choosing the write algorithm for the problem

Some things to note:

* Classification Problem - predicting a category (Heart disease of not)
    * clf is short for classifier
* Regression problems - predicting a number like selling price of a car or a house

## Picking a machine learning algorithm
1. Using California housing dataset

In [8]:
# Getting california housing dataset
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()

In [9]:
housing.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [10]:
housing_df = pd.DataFrame(housing.data, columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [11]:
housing_df["target"] = housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [14]:
housing_df.drop("MedHouseVal", axis=1, inplace=True)

KeyError: "['MedHouseVal'] not found in axis"

In [15]:
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [16]:
# Importing Algorithms

from sklearn.linear_model import Ridge

# Setup random

np.random.seed(42)

X = housing_df.drop("target", axis=1)
y = housing_df["target"] # Median House price in $100_000s

# Split into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Fiting the model of choice

model = Ridge()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.5758549611440126

We can always try a different model if we want a better score
* Trying Ensemble models
* Random forest is a bunch of decision trees

In [20]:
from sklearn.ensemble import RandomForestRegressor

# regressor = RandomForestRegressor(n_estimators=100)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
# X and y are already computed

model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8036215942347373

## Picking a machine learning algorithm for Classification

In [27]:
# Iris dataset ?
from sklearn.datasets import load_iris
iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [29]:
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df["target"] = iris["target"]

In [36]:
# iris_df
X = iris_df.drop("target", axis=1)
y = iris_df["target"]
len(X), len(y)

(150, 150)

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split


for i in range(10, 100, 10):
    model = RandomForestClassifier(n_estimators=100)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    model.fit(X_train, y_train)
    print(f"{i} Estimators: {model.score(X_test, y_test)}")

10 Estimators: 0.9333333333333333
20 Estimators: 0.9666666666666667
30 Estimators: 1.0
40 Estimators: 0.9666666666666667
50 Estimators: 0.9666666666666667
60 Estimators: 0.9
70 Estimators: 0.9666666666666667
80 Estimators: 0.9333333333333333
90 Estimators: 0.9333333333333333

In [57]:
heart_disease = pd.read_csv("../datasets/heart-disease.csv")

In [66]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [67]:
len(heart_disease)

303

In [ ]:
# Trying Linear SVC

In [95]:
from sklearn.svm import LinearSVC

np.random.seed(42)

X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = LinearSVC(max_iter=10_000)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8688524590163934

In [108]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8688524590163934

## Tidbit:
    
    1. Structured Data => use ensemble methods
    2. Unstructured Data => use deep learning of transfer learning

## Fitting the model to the data

In [111]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8524590163934426

## Make predictions using learning models

2 ways to make predictions
1. `predict()`
2. `predict_proba()`

In [135]:
y_pred = clf.predict(X_test)
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0], dtype=int64)

In [136]:
np.mean(y_pred == np.array(y_test))

0.8524590163934426

In [139]:
clf.score(X_test, y_test)

0.8524590163934426

In [140]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8524590163934426

## `predict_proba()`

In [144]:
clf.predict_proba(X_test[:5])

array([[0.52, 0.48],
       [0.43, 0.57],
       [0.6 , 0.4 ],
       [0.9 , 0.1 ],
       [0.21, 0.79]])

In [145]:
# Predicting on the same data
clf.predict(X_test[:5])

array([0, 1, 0, 0, 1], dtype=int64)