In [5]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)
sales_ammounts = np.random.randint(20, size=(5, 3))
sales_ammounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [8]:
days_of_the_week = ["Mon", "Tues", "Wed", "Thurs", "Fir"]
cols = ["Almond", "Peanut", "Cajo"]
weekly_sales = pd.DataFrame(sales_ammounts, index=days_of_the_week, columns=cols)
weekly_sales

       Almond  Peanut  Cajo
Mon        12      15     0
Tues        3       3     7
Wed         9      19    18
Thurs       4       6    12
Fir         1       6     7

In [11]:
# Prices array

prices = np.array([10, 8, 12])
prices

(3,)

In [23]:
butter_prices = pd.DataFrame(prices.reshape(1, 3), index=["Price"], columns=cols)
butter_prices

       Almond  Peanut  Cajo
Price      10       8    12

In [16]:
# Gain
profit = prices.dot(sales_ammounts.T)

In [20]:
profit

array([240, 138, 458, 232, 142])

In [24]:
butter_prices.shape, weekly_sales.shape

((1, 3), (5, 3))

In [28]:
daily_sales = butter_prices.dot(weekly_sales.T)
daily_sales.T

       Price
Mon      240
Tues     138
Wed      458
Thurs    232
Fir      142

In [29]:
weekly_sales["Total $"] = daily_sales.T

In [30]:
weekly_sales

       Almond  Peanut  Cajo  Total $
Mon        12      15     0      240
Tues        3       3     7      138
Wed         9      19    18      458
Thurs       4       6    12      232
Fir         1       6     7      142